@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
.blue {
    color: #58b7ff;
}

.red {
    color: #f56c6c;
}

.green {
    color: #13ce66;
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

a, a:active, a:hover {
    text-decoration: none;
    color: white;
    outline: 0;
}

.container {
    margin: 0 auto;
    max-width: 120rem;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.4rem;
}

@media (max-width:767px) {
    .row {
        flex-direction: column;
    }
}

@media (max-width:479px) {
    .row {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
}

.col {
    flex: 1 1;
}

.title {
    position: relative;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 2rem;
    color: white;
}

.content {
    font-size: 1.8rem;
    line-height: 3rem;
}

@media (max-width:767px) {
    .content {
        font-size: 1.6rem;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
}

@media (max-width:767px) {
    .navbar {
        display: none;
    }
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    min-height: 6rem;
    text-align: right;
    color: #f2f2f2;
    z-index: 2;
    transition: all .1s linear;
}

.nav-item {
    position: relative;
    display: inline-block;
    font-family: Comfortaa, sans-serif;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    opacity: 0;
    bottom: -1.3rem;
    left: 0;
    transition: all .1s ease-in-out;
    background-color: #f2f2f2;
}

.nav-item:hover:after {
    opacity: 1;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 56rem;
}

.hero .hero-container {
    position: relative;
    display: flex;
    max-width: 120rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.hero-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 22.5rem;
}

@media (max-width:479px) {
    .hero-profile {
        max-width: 17.5rem;
    }
}

.hero-profile-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: linear-gradient(270deg, #58b7ff, #13ce66);
    border-radius: 100%;
}

.hero-profile-img {
    width: 100%;
    border-radius: 100%;
}

.hero-icons {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    font-size: 4rem;
}

@media (max-width:991px) {
    .hero-icons {
        margin-top: 2.5rem;
        font-size: 3.5rem;
    }
}

.hero .icon-link {
    padding: 0 1.5rem;
    color: lightgray;
}

.hero .icon-link:hover {
    color: white;
}

.hero-profile-content {
    padding-top: 2rem;
    text-align: center;
}

.hero-headline {
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 1rem;
    color: white;
    letter-spacing: .1rem;
}

@media (max-width:991px) {
    .hero-headline {
        letter-spacing: 0rem;
    }
}

.hero-text {
    font-size: 1.4rem;
    font-weight: 400;
    color: lightgray;
}

.hero .arrow {
    margin-top: 5rem;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@media screen and (min-height:600px) {
    .hero .arrow {
        position: absolute;
        margin-top: 0;
        left: calc(50% - 1rem);
        bottom: 5%;
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
    }
    60% {
        -webkit-transform: translateY(-.5rem);
        transform: translateY(-.5rem);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
    }
    60% {
        -webkit-transform: translateY(-.5rem);
        transform: translateY(-.5rem);
    }
}

.about .about-container {
    padding-top: 5rem;
}

.about-experiencecol, .about-educationcol, .about-skillcol {
    padding-bottom: 1rem;
}

.about-timeline {
    padding-top: 1rem;
    padding-right: 3rem;
}

.about-card-group {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.about-card-wrapper {
    flex: 0 0 25%;
    padding: .8rem;
}

@media (max-width:991px) {
    .about-card-wrapper {
        flex-basis: 30%;
    }
}

@media (max-width:767px) {
    .about-card-wrapper {
        flex-basis: 50%;
        padding: .4rem;
    }
}

.about-card {
    display: flex;
    height: 15rem;
    background-color: #181a1b;
    border-radius: 2rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .05);
    transition: all .2s linear;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

@media (max-width:575px) {
    .about-card {
        padding: 1rem;
    }
}

.about-card-icon {
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
}

.about-card-icon>img {
    width: 100%;
}

.about-card-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: lightgray;
}

.timeline-card {
    position: relative;
    margin-left: 4rem;
    margin-bottom: 2rem;
    max-width: 35rem;
    color: #409eff;
    border: .1rem solid #409eff;
    border-radius: 2rem;
}

.timeline-card:before {
    content: "";
    position: absolute;
    top: -.5rem;
    left: -3.6rem;
    width: 1rem;
    height: 1rem;
    background-color: #1d8ce0;
    border-radius: 100%;
    z-index: 2;
}

.timeline-card:after {
    content: "";
    position: absolute;
    left: -3.3rem;
    top: .2rem;
    height: 110%;
    min-height: 15rem;
    width: .4rem;
    background-color: #181a1b;
}

.timeline-card-title {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0;
}

.timeline-card-subtitle {
    padding: 1rem 2rem;
    padding-top: .25rem;
    font-size: 1rem;
    font-size: 1.3rem;
    font-style: italic;
}

.timeline-card-content {
    padding: 0 2rem 1rem;
    color: #409eff;
    font-size: 1.2rem;
}

.timeline-card-time {
    padding: .5rem 2rem;
    text-align: right;
    font-size: 1.2rem;
}

.timeline-card-blue {
    color: #58b7ff;
    border-color: #58b7ff;
}

.timeline-card-blue .timeline-card-title {
    color: #3facff;
}

.timeline-card-blue .timeline-card-subtitle {
    color: #3facff;
}

.timeline-card-blue .timeline-card-time {
    color: #58b7ff;
}

.timeline-card-red {
    border-color: #f56c6c;
}

.timeline-card-red:before {
    background-color: #f56c6c;
}

.timeline-card-red .timeline-card-title {
    color: #f35454;
}

.timeline-card-red .timeline-card-subtitle {
    color: #f35454;
}

.timeline-card-red .timeline-card-content {
    color: #f56c6c;
}

.timeline-card-red .timeline-card-time {
    color: #f56c6c;
}

.timeline-card-green {
    border-color: #13ce66;
}

.timeline-card-green:before {
    background-color: #13ce66;
}

.timeline-card-green .timeline-card-title {
    color: #11b75a;
}

.timeline-card-green .timeline-card-subtitle {
    color: #11b75a;
}

.timeline-card-green .timeline-card-content {
    color: #13ce66;
}

.timeline-card-green .timeline-card-time {
    color: #13ce66;
}

.skills-title {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.resume {
    margin-top: 5rem;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
}

.skills-tile {
    padding: .5rem 1rem;
    background-color: #181a1b;
    color: lightgray;
    margin: .2rem;
    transition: all .25s linear;
    border-radius: 2rem;
}

.skills-tile:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.project {
    position: relative;
    background: none;
}

.project:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(assets/jpl.jpg) 50%;
    filter: brightness(15%);
    background-size: cover;
}

.project-row {
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .project-row {
        flex-direction: row;
    }
}

@media (max-width:575px) {
    .project-row {
        flex-direction: column;
    }
}

.project-col {
    display: flex;
    flex: 0 0 33.33332%;
    justify-content: center;
}

@media (max-width:991px) {
    .project-col {
        flex: 0 0 50%;
    }
}

@media (max-width:575px) {
    .project-col {
        flex: 0 0 100%;
    }
}

.project-container {
    padding-top: 2rem;
}

.project-card {
    position: relative;
    display: inline-block;
    margin: 1rem 1rem 2rem;
    width: 24rem;
    height: 27rem;
    background-color: #181a1b;
    border-radius: 2rem;
    border: .3rem solid #181a1b;
}

@media (max-width:575px) {
    .project-card {
        width: 32rem;
    }
}

@media (max-width:479px) {
    .project-card {
        width: 100%;
    }
}

.project-card-cover {
    height: 18rem;
    background-size: cover;
    background-position: 50%;
    border-radius: 2rem;
}

.project-card-website {
    background-image: url(assets/project-website.png);
}

.project-card-summarizer {
    background-image: url(assets/project-summarizer.png);
}

.project-card-2048 {
    background-image: url(assets/project-2048.png);
}

.project-card-connect4 {
    background-image: url(assets/project-connect4.png);
}

.project-card-smmryextension {
    background-image: url(assets/project-smmryextension.png);
}

.project-card-sushi {
    background-image: url(https://media.giphy.com/media/tKkJrjL0ghnX2lpIsM/giphy.gif);
}

.project-card-pokemongo {
    background-image: url(assets/project-pokemongo.png);
}

.project-card-content {
    padding: 1rem;
}

.project-card-title {
    font-size: 2rem;
    color: white;
}

.project-card-btn {
    position: absolute;
    display: inline-block;
    bottom: .5rem;
    right: .5rem;
    padding: .8rem 2rem;
    font-size: 1.2rem;
    color: white;
    background: #20a0ff;
    border-radius: 2rem;
    transition: all .2s linear;
    border: .1em solid transparent;
}

.project-card-btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border: .1em solid white;
}

.project-card-blackbutton {
    background: black;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 1rem;
}